*{
    margin: 0;
    padding: 0;
    
}
*::selection{
    color: rgb(14, 83, 7);
    background-color: tomato;
    
}
.logo{
    width: 200px;
}
.navbar-nav{
    margin-left: 57%;
}

.navbar-nav2{
    margin-left: 27%;

}
.first-class{
    background-image: url(bannerbackground.png);
    background-size: cover;
    height: 500px;

}

#Breakfast>article>div{
    margin: 3%;

}
#Breakfast>article>.c:hover{
    box-shadow: 1px 1px 10px 1px;
    border-radius: 10px;
    
}

#Lunch>article>div{
    margin: 3%;
}
#Lunch>article>.c:hover{
    box-shadow: 1px 1px 10px 1px;
    border-radius: 10px;
    
}

#Dinner>article>div{
    margin: 3%;
}
#Dinner>article>.c:hover{
    box-shadow: 1px 1px 10px 1px;
    border-radius: 10px;
    
}
.col:hover{
    box-shadow: 1px 1px 10px 1px;
    border-radius: 10px;
    
}
 .button2{
     background-color: tomato;
     border-radius: 10px;
 }
 .button{
    background-color: tomato;
    border-radius: 10px;
}
#Lunch,#Dinner, #sign, #extra,#extra2, #extra3, #see-less, #see-less2, #see-less3, #light-mode{
    display: none;
}

#sign2{
    display: none;
    background-image:url(bannerbackground.png);
    background-size: cover;
}
.login{
    margin-top: 10%;
}
.del{
    background-image: url(burrito-chicken-close-up-461198-min.png);
    background-size: cover;
}
footer>section>div>a{
    text-decoration: none;
    color: white;
}
small{
    color: gray;
    
    padding-top: 8%;
    padding-bottom: 5%;
  }
  .loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:17rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}
